.project {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 25px;
    width: 1700px;
}

.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.describtion {
    font-size: 0.8rem;
}
.add-btn {
    width: 100%;
}